<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Orders</h1>
    <ul>
        <li th:each="order : ${orders}">
            <a th:href="@{/orders/{id}(id=${order.id})}" th:text="${order.customerName}">Order Customer</a> -
            <span th:text="${order.status}">Order Status</span>
        </li>
    </ul>
</div>
</body>
</html>
